@font-face {
  font-family: "Silka";
  src: local("Silka"),
    url("/fonts/silka-regular-webfont.woff2") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainBlue: #002255;
  --mainBlueBg05: rgba(0, 34, 85, 0.05);
  --mainBlueBg: rgba(0, 34, 85, 0.1);
  --mainBlueBg2: rgba(0, 34, 85, 0.2);
  --mainDark: #00253b;
  --mainDarkBg: rgba(0, 37, 59, 0.2);
  --mainBlue2: #0a0d55;
  --mainBlue2Bg: rgba(10, 13, 85, 0.2);
  --mainGreen: #005529;
  --mainGreenBg: rgba(0, 85, 41, 0.1);
  --mainGreen2: #003b1d;
  --mainGreen2Bg: rgba(0, 59, 29, 0.2);
  --light1: #fbfbf6;

  --best1: #8ea3b1;
  --best2: #1c5e6c;
  --best3: #7f7469;
  --best4: #a09c96;
  --best5: #044b4a;
  --best6: #042429;

  --nudeColor1: #e7dad1;
  --nudeColor2: #ddbfb7;
  --nudeColor3: #ece2e4;
  --nudeColor4: #e7e1d4;
  --nudeColor5: #b2a09d;
  --nudeColor6: #deb1a1;

  --black: #1e1c1c;
  --grey: #a0a0a0;
  --grey2: #a8a8a8;
  --grey3: #a9a9a9;
  --bgGrey: #f7f6f6;

  --borderColor: rgb(218, 213, 213);

  --p: 1rem;
  --p2: 1.1rem;
  --p3: 1.2rem;

  --h1: 3rem;
  --h2: 2.5rem;
  --h3: 1.5rem;
  --h4: 1.2rem;

  --a: 1.1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Silka;
}

a {
  text-decoration: none !important;
}

textarea {
  resize: none;
}

p {
  line-height: 1.4rem;
}

input,
select,
textarea {
  font-family: Silka;
}

/* common classses */
.flex {
  display: flex;
}

.spaceBtw {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.flexColumn {
  flex-direction: column;
}

.gap05 {
  gap: 0.5rem;
}

.gap1 {
  gap: 1rem;
}
.gap2 {
  gap: 2rem;
}

/* -------widths------------------ */

.maxWidth {
  max-width: 1300px;
}

.width5 {
  width: 5%;
}

.width6 {
  width: 6%;
}

.width7 {
  width: 7%;
}

.width8 {
  width: 8%;
}

.width9 {
  width: 9%;
}

.width10 {
  width: 10%;
}

.width11 {
  width: 11%;
}

.width12 {
  width: 12%;
}

.width13 {
  width: 13%;
}

.width14 {
  width: 14%;
}

.width15 {
  width: 15%;
}

.width16 {
  width: 16%;
}

.width17 {
  width: 17%;
}

.width18 {
  width: 18%;
}

.width19 {
  width: 19%;
}

.width20 {
  width: 20%;
}

.width21 {
  width: 21%;
}

.width22 {
  width: 22%;
}

.width23 {
  width: 23%;
}

.width24 {
  width: 24%;
}

.width25 {
  width: 25%;
}

.width26 {
  width: 26%;
}

.width27 {
  width: 27%;
}

.width28 {
  width: 28%;
}

.width29 {
  width: 29%;
}

.width30 {
  width: 30%;
}

.width31 {
  width: 31%;
}

.width32 {
  width: 32%;
}

.width33 {
  width: 33%;
}

.width34 {
  width: 34%;
}

.width35 {
  width: 35%;
}

.width36 {
  width: 36%;
}

.width37 {
  width: 37%;
}

.width38 {
  width: 38%;
}

.width39 {
  width: 39%;
}

.width40 {
  width: 40%;
}

.width41 {
  width: 41%;
}

.width42 {
  width: 42%;
}

.width43 {
  width: 43%;
}

.width44 {
  width: 44%;
}

.width45 {
  width: 45%;
}

.width46 {
  width: 46%;
}

.width47 {
  width: 47%;
}

.width48 {
  width: 48%;
}

.width49 {
  width: 49%;
}

.width50 {
  width: 50%;
}

.width51 {
  width: 51%;
}

.width52 {
  width: 52%;
}

.width53 {
  width: 53%;
}

.width54 {
  width: 54%;
}

.width55 {
  width: 55%;
}

.width56 {
  width: 56%;
}

.width57 {
  width: 57%;
}

.width58 {
  width: 58%;
}

.width59 {
  width: 59%;
}

.width60 {
  width: 60%;
}

.width61 {
  width: 61%;
}

.width62 {
  width: 62%;
}

.width63 {
  width: 63%;
}

.width64 {
  width: 64%;
}

.width65 {
  width: 65%;
}

.width66 {
  width: 66%;
}

.width67 {
  width: 67%;
}

.width68 {
  width: 68%;
}

.width69 {
  width: 69%;
}

.width70 {
  width: 70%;
}

.width71 {
  width: 71%;
}

.width72 {
  width: 72%;
}

.width73 {
  width: 73%;
}

.width74 {
  width: 74%;
}

.width75 {
  width: 75%;
}

.width76 {
  width: 76%;
}

.width77 {
  width: 77%;
}

.width78 {
  width: 78%;
}

.width79 {
  width: 79%;
}

.width80 {
  width: 80%;
}

.width81 {
  width: 81%;
}

.width82 {
  width: 82%;
}

.width83 {
  width: 83%;
}

.width84 {
  width: 84%;
}

.width85 {
  width: 85%;
}

.width86 {
  width: 86%;
}

.width87 {
  width: 87%;
}

.width88 {
  width: 88%;
}

.width89 {
  width: 89%;
}

.width90 {
  width: 90%;
}

.width91 {
  width: 91%;
}

.width92 {
  width: 92%;
}

.width93 {
  width: 93%;
}

.width94 {
  width: 94%;
}

.width95 {
  width: 95%;
}

.width96 {
  width: 96%;
}

.width97 {
  width: 97%;
}

.width98 {
  width: 98%;
}

.width99 {
  width: 99%;
}

.width100 {
  width: 100%;
}

/* ---------borders----------------- */

.borderRed {
  border: 1px solid red;
}
.borderBlue {
  border: 1px solid blue;
}
.borderOrange {
  border: 1px solid orangered;
}

.borderTopNone {
  border-top: none !important;
}
.borderRightNone {
  border-right: none !important;
}
.borderBottomNone {
  border-bottom: none !important;
}
.borderLeftNone {
  border-left: none !important;
}

/* --------------------margins----------------- */

.marginNone {
  margin: 0 !important;
}
.marginBottom1 {
  margin-bottom: 1rem;
}
.marginBottom2 {
  margin-bottom: 2rem !important;
}
.marginBottom3 {
  margin-bottom: 3rem !important;
}
.marginTop1 {
  margin-top: 1rem;
}
.marginTop2 {
  margin-top: 2rem;
}
.marginTop3 {
  margin-top: 3rem;
}
.marginRight1 {
  margin-right: 1rem;
}
.marginRight2 {
  margin-right: 2rem;
}
.marginRight3 {
  margin-right: 3rem;
}
.marginLeft1 {
  margin-left: 1rem;
}
.marginLeft2 {
  margin-left: 2rem;
}
.marginLeft3 {
  margin-left: 3rem;
}

/* --------------------padding----------------- */

.paddingNone {
  padding: 0 !important;
}
.paddingBottom1 {
  padding-bottom: 1rem;
}
.paddingBottom2 {
  padding-bottom: 2rem;
}
.paddingBottom3 {
  padding-bottom: 3rem;
}
.paddingTop1 {
  padding-top: 1rem;
}
.paddingTop2 {
  padding-top: 2rem;
}
.paddingTop3 {
  padding-top: 3rem;
}
.paddingRight1 {
  padding-right: 1rem;
}
.paddingRight2 {
  padding-right: 2rem;
}
.paddingRight3 {
  padding-right: 3rem;
}
.paddingLeft1 {
  padding-left: 1rem;
}
.paddingLeft2 {
  padding-left: 2rem;
}
.paddingLeft3 {
  padding-left: 3rem;
}

/* text */

.textJustify {
  text-align: justify;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}

/* ------------font weights--------------------------- */
.font400 {
  font-weight: 400;
}

.font500 {
  font-weight: 500;
}

.font600 {
  font-weight: 600;
}

.hidden {
  display: none;
}

/* topbar */
.topBar {
  background-color: black;
  color: white;
}
.topBar .topBarContainer {
  padding: 1rem 0;
}

.topBar .topBarContainer a {
  color: white;
}
.topBar .topBarContainer .logo img {
  width: 20%;
  height: auto;
}

.azadi {
  background-color: grey;
}

.topBar .topBarContainer .admin a {
  padding: 0.2rem 1rem;
  background-color: white;

  color: black;
}

/* navbar */
.nav {
  margin: 2rem 0 0 0;
  background-color: transparent;
}

.nav .menu {
  height: 4rem;
}

.nav .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3rem;
}

.nav .menu ul li {
  position: relative;
}

.nav .menu ul li ul.subMenu {
  display: none; /* Hide submenu by default */
  position: absolute; /* Position the submenu absolutely */
  top: 100%; /* Position it below the parent li */
  left: 0; /* Align with the left edge of the parent li */
  background-color: #002255; /* Background color for submenu */
  border: 1px solid white;
}

.nav .menu ul li ul.subMenu li {
  padding: 1rem 1rem 1rem 0;
}

.nav .menu ul li ul.subMenu li a {
  padding: 1rem 2rem 1rem 0.5rem;
}

.nav .menu ul li ul.subMenu li:hover {
  background-color: white;
}

.nav .menu ul li ul.subMenu li:hover a {
  color: black;
}

.nav .menu ul .parentSubMenu:hover ul.subMenu {
  display: block; /* Display submenu on hover of parent li */
}

.nav .menu ul li a {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.hero {
  height: 45vh;
  background-image: url(./images/hero2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroLogo h1 {
  color: white;
  font-size: 1.2rem;
}

.heroLogo img {
  width: 18%;
  height: auto;
}

.heroContainer {
  height: 45vh;
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem 0;
}

.headContainer h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 5rem 0 0 0;
}

/* changing tabs */
.changingTabs {
  background-color: #800000;
  margin: 0 0 1rem 0;
}
.changingTabs .tabsBar {
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  gap: 0.2rem;
  background-color: #800000;
  cursor: pointer;
}

.changingTabs .tabsBar .tab {
  border-right: 1px solid white;
  padding: 0 1rem;
}

.aboutDTabContainerLeft p {
  text-align: justify;
}

.aboutGallery .aboutGalleryTab .aboutGalleryImage {
  width: 25%;
}

.aboutGallery h2 {
  text-align: center;
  margin: 0 0 2rem 0;
}

.aboutGallery h3 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.aboutGallery .aboutGalleryTab .aboutGalleryImage img {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

.aboutDTab .aboutDTabContainer .aboutDTabContainerRight .aboutDTabRights {
  border: 1px solid grey;
  padding: 1rem;
  background-color: rgb(239, 237, 237);
  height: 20rem;
}

.aboutDTab .aboutDTabContainer .aboutDTabContainerRight h2 {
  background-color: #800000;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
}

.vmTabContainer h2 {
  margin: 0 0 1rem 0;
}

.vmTabContainer ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.vmTabContainer ul li {
  margin: 0 0 0.5rem 0;
}

.achievementTabContainer h2 {
  margin: 0 0 2rem 0;
}

.achTabLeft img {
  width: 100%;
}

.contactTable {
  border: 1px solid black;
  margin: 0 0 1rem 0;
}
.contactTableTab {
  width: 25%;
}

.contactTableTab img {
  width: 80%;
  height: auto;
}

.facultyTab h2 {
  margin: 2rem 0;
}

.facultyTab .facLeft {
  width: 15%;
}

.facultyTab .facLeft img {
  width: 100%;
  height: auto;
}

.facultyTab .facRight p span {
  font-weight: bold;
}

.contactForm h2 {
  font-weight: 500;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.contactForm form {
  margin: 0 0 2rem 0;
}

.contactForm form h4 {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.1rem;
}

.contactForm form input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid grey;
}

.contactForm form textarea {
  width: 100%;
  margin: 0 0 1rem 0;
}

.contactForm form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.contactRight {
  overflow: hidden;
}

/* footer */

footer {
  background-color: black;
}

footer .footerContainer {
  padding: 4rem 0;
  color: white;
}

footer .footerContainer .footerTab h1 {
  font-size: 1.2rem;
}

footer .footerContainer .footerTab h2 {
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
}

footer .footerContainer .footerTab ul {
  margin: 0;
  padding: 0;
}

footer .footerContainer .footerTab ul li {
  list-style: none;
  margin: 0 0 1rem 0;
}

footer .footerContainer .footerTab ul li a {
  color: white;
}

/*  */
.myTable {
  margin: 0 0 1rem 0;
}
.myTable .myTableTab {
  border: 1px solid black;
  padding: 0.5rem;
}

.myPPImage {
  border: 1px solid black;
}

.myPImage img {
  width: 100%;
  height: auto;
}

.caption {
  text-align: center;
  font-weight: bold;
}

/* responsive */
@media screen and (max-width: 600px) {
  .nav {
    display: none !important;
  }

  .hero {
    height: 45vh;
    background-position: right;
  }
  .headContainer h1 {
    text-align: center;
  }
  .changingTabs .tabsBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .changingTabs .tabsBar .tab {
    border-right: none;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 1rem 0;
  }

  .aboutGallery h3 {
  }

  .aboutDTabContainer {
    flex-direction: column-reverse;
  }

  .aboutDTabContainerRight {
    width: 100%;
  }

  .aboutDTabContainerLeft {
    width: 100%;
  }

  .aboutGalleryTab {
    flex-direction: column;
  }
  .aboutGalleryImage {
    width: 100% !important;
  }

  .academicProgramTab .accordion-body img {
    width: 100%;
    height: auto;
  }

  .facilitiesTabContainer img {
    width: 100%;
    height: auto;
  }

  .mobileFlexDirection {
    flex-direction: column;
  }

  .mobileWidth100 {
    width: 100%;
  }

  .mobileFlexDirection img {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
  }

  .achCTabs {
    width: 100%;
  }

  .contactTable {
    flex-direction: column;
  }

  .contactTabContainer {
    flex-direction: column;
  }

  .contactLeft {
    width: 100%;
  }
  .contactRight {
    width: 100%;
  }

  .mobilePadding1 {
    padding: 1rem;
  }

  .footerContainer {
    flex-direction: column;
  }

  .footerTab {
    margin: 0 0 2rem 0;
  }

  .footerTab h2 {
    margin: 0 0 1rem 0 !important;
  }
}
