header {
  border-bottom: 1px solid black;
  height: 5rem;
}

header h1 {
  text-align: center;
}

main {
  margin: 2rem 0;
}

main a {
  background-color: green;
  padding: 1rem;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
}

main h2 {
  text-align: center;
  margin: 0 0 1rem 0;
}

main p {
  margin: 0 0 1rem 0;
}

main h3 {
  margin: 0 0 1rem 0;
}

main ol li {
  margin: 0 0 1rem 0;
}

main ul li {
  margin: 0 0 1rem 0;
}
